* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--Background);
}
button {
  border: none;
  outline: none;
  font-family: 'Peyda', sans-serif;
}
input {
  border: none;
  outline: none;
}
ol,
ul {
  list-style: none;
}
